{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Cache Buster plugin for Craft CMS 3.x
 *
 * Cache Buster Settings.twig
 *
 * @author    Adrien Picard
 * @copyright Copyright (c) 2018 Adrien Picard
 * @link      http://www.adrienpicard.co.uk
 * @package   CacheBuster
 * @since     1
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.editableTable({
    first:        true,
    label:        "Endpoints",
    id:           'endpoints',
    name:         'endpoints',
    cols: {
        entry: {
            heading: "Entry",
            handle: "entry",
            type: "string"
        },
        endpoint: {
            heading: "Endpoint",
            handle: "endpoint",
            type: "string"
        }
    },
    rows: settings.endpoints,
    errors:       settings.getErrors('endpoints')
}) }}